files/__pycache__/*.pyc

mario/__pycache__/*.pyc

files/migrations/__pycache__/*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Virtual environment
.venv/
venv/



# Django secret key and environment variables
.env
*.env
